.empty-message {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  color: lightgrey;
  padding: 5px;
  width: 100%;
}

.underline {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0;
    right: 0;
    height: 5px;
    background: rgb(90, 90, 90);
  }
}
